@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply m-0 min-h-screen bg-black text-neutral-100 antialiased;
  }

  #root {
    @apply h-screen;
  }
}
